@import "tailwindcss";

html,
body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

/* Moveable 控制点样式 */
/* 图片和视频的所有控制点都是圆形 */
.moveable-control-media .moveable-control {
  border-radius: 50% !important;
  width: 14px !important;
  height: 14px !important;
}

/* 文字的控制点默认样式（正方形） */
.moveable-control-text .moveable-control {
  border-radius: 50% !important;
  width: 14px !important;
  height: 14px !important;
}

/* 文字的右中控制点 (e) 是长方形 */
/* .moveable-control-text .moveable-e {
  width: 6px !important;
  height: 20px !important;
  border-radius: 2px !important;
  margin-left: -2px !important;
} */

